body {
	margin: 0;
	padding: 0;
	font-family: montserrat;
    background: url(images/hmpg_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-sizing: border-box	;
}

@media (max-width: 1000px) {
	nav {
		flex-direction: column;
		align-items: flex;
	}
	.menu ul {
		padding: 0;
	}
	.menu ul li {
		margin: 0 15px 0 0;
	}
}
@media (max-width: 600px) {
	.logo {
		margin-top: 0;
		font-size: 17px;
	}
	nav {
		padding: 30px;
	}
	.menu ul li a {
		font-size: 10px;
	}
	.btn {
		display: none;
	}
}

@media (max-width: 400px) {
	.text {
		font-size: 10px;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
	color: #fff;
}
.logo {
    font-size: 25px;
    color: white;
}
.menu ul li {
	display: inline-block;
	margin: 0 15px;
}
.menu ul li a {
	text-decoration: none;
    color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	background-clip: text;
}
.btn button {
	color: #000;
	cursor: pointer;
	font-weight: 800;
	text-transform: uppercase;
	padding: 12px 30px;
	border-radius: 4px;
	border: none;
}

.column {
	float: left;
	height: 500px;
	box-sizing: border-box;
	color: white;
}


.left {
	width: 50%;
	padding-top: 10rem;
	padding-left: 2rem;
}
  
.right {
	width: 50%;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
.column1 , .column2{
	position: relative;
	width: 50%;
	float: left;
	box-sizing: border-box;
}
  
.image {
	display: block;
	height: 100vh;
	width: 100%;
	
}
  
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 1s ease;
}
  
.column1:hover .overlay{
	height: 100%;
}
  
.text {
	white-space: wrap;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.column2:hover .overlay1{
	width: 100%;
}

.overlay1 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 1s ease;
}

.column2:hover .overlay2{
	width: 100%;
	left: 0;
}

.overlay2 {
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 1s ease;
}


.blog {
	float: left;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	background-color:  #33383b;
}


.nw {
	width: 50%;
}

.nw h1 {
	margin: 5rem 0rem 0rem 10rem;
	color: white;
}

.bl {
	width: 50%;
}

.bl h1 {
	margin: 5rem 0rem 0rem 10rem;
	color: white;
}

.news {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.news a {
	color: black;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 2rem 5rem 2rem 5rem;
	height: 70vh;
	background: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=872&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 250px;
	margin: auto;
	text-align: center;
	font-family: arial;
  }
  
.title {
	color: black;
	font-size: 18px;
}
  
.card p button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}
  
a {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

.newsletter {
    background-image: url(images/newslatter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    padding: 100px 15px;
    color: #fff;
}
.newsletter h2, .newsletter p{
    text-align: center;
    line-height: 34px;
}
.newsletter-box {
    margin: 20px auto;
    display: table;
}
.newsletter-box i {
    background: #f7f7f7;
    width: 60px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: black;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 42px;
}
.newsletter .newsletter-box button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: black;
    color: #fff;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #fff;
    border-left: 0px;
    height: 42px;
    margin-top: 5px;
}
.emailbox{
    border: none;
    outline: none;
}
.emailbox {
    width: 0px;
    height: 42px;
    transition: 0.6s;
    font-size: 16px;
}
.newsletter-box:hover > .emailbox, .emailbox:focus{
    width: 280px;
    padding: 0 10px;
}

footer{
	background-color: #292c2f;
}
.footer-distributed{
	
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
	
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
	
.footer-distributed .footer-left{
	width: 40%;
}
	
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
	
.footer-distributed h3 span{
	color:  #5383d3;
}
	
	
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
	
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
	
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
	
	
.footer-distributed .footer-center{
	width: 35%;
}
	
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
	
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
	
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
	
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
	
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
	
.footer-distributed .footer-right{
	width: 20%;
}
	
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
	
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
	
.footer-distributed .footer-icons{
	margin-top: 25px;
}
	
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
	