body {
	margin: 0;
	padding: 0;
	font-family: montserrat;
    background: url(images/hmpg_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-sizing: border-box	;
}

@media (max-width: 1000px) {
	nav {
		flex-direction: column;
		align-items: flex;
	}
	.menu ul {
		padding: 0;
	}
	.menu ul li {
		margin: 0 15px 0 0;
	}
}
@media (max-width: 600px) {
	.logo {
		margin-top: 0;
		font-size: 17px;
	}
	nav {
		padding: 30px;
	}
	.menu ul li a {
		font-size: 10px;
	}
	.btn {
		display: none;
	}
}

@media (max-width: 400px) {
	.text {
		font-size: 10px;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
	color: #fff;
}
.logo {
    font-size: 25px;
    color: white;
}
.menu ul li {
	display: inline-block;
	margin: 0 15px;
}
.menu ul li a {
	text-decoration: none;
    color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	background-clip: text;
}
.btn button {
	color: #000;
	cursor: pointer;
	font-weight: 800;
	text-transform: uppercase;
	padding: 12px 30px;
	border-radius: 4px;
	border: none;
}

.column {
	float: left;
	height: 500px;
	box-sizing: border-box;
	color: white;
}


.left {
	width: 50%;
	padding-top: 10rem;
	padding-left: 2rem;
}
  
.right {
	width: 50%;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
.column1 , .column2{
	position: relative;
	width: 50%;
	float: left;
	box-sizing: border-box;
}
  
.image {
	display: block;
	height: 100vh;
	width: 100%;
	
}
  
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 1s ease;
}
  
/* .column1:hover .overlay{
	height: 100%;
} */
  
.text {
	white-space: wrap;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* .column2:hover .overlay1{
	width: 100%;
} */
.overlay1 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 1s ease;
}

/* .column2:hover .overlay2{
	width: 100%;
	left: 0;
} */

.overlay2 {
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: transparent;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: 1s ease;
}


.blog {
	float: left;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	background: #3a4347;
}


.nw {
	width: 50%;
}

.nw h1 {
	margin: 5rem 0rem 0rem 10rem;
}

.bl {
	width: 50%;
}

.bl h1 {
	margin: 5rem 0rem 0rem 10rem;
}













